services:
	mathematicator.engine:
		factory: Mathematicator\Engine\Engine
		setup:
			- addExtraModule(@Mathematicator\Engine\SampleModule)
	mathematicator.queryNormalizer:
		factory: Mathematicator\Engine\QueryNormalizer
	- Mathematicator\NumberRewriter
	- Mathematicator\NaturalTextFormatter
	- Mathematicator\Engine\SampleModule
	- Mathematicator\Engine\Controller\OtherController
	- Mathematicator\Engine\Controller\ErrorTooLongController
	- Mathematicator\Engine\Translation\TranslatorHelper
	- Symfony\Component\Translation\Translator('cs_CZ')

extensions:
	psr11: Contributte\Psr11\DI\Psr11ContainerExtension

orm.annotations:
	paths:
		Mathematicator: %appDir%/../vendor/mathematicator-core
