services:
	- Mathematicator\Engine\Engine
	- Mathematicator\Engine\QueryNormalizer
	- Mathematicator\Engine\Translator
	- Mathematicator\NumberRewriter
	- Mathematicator\NaturalTextFormatter

orm.annotations:
	paths:
		Mathematicator: %appDir%/../vendor/mathematicator-core